.btn_search_nav{
   
    background-color: #f70037;
    color: black;
}
.btn_search_nav:hover{
    color:white;

}

/* Footer */
.footer_content{
    background-color: #E9E9E9;
}

/* Side Bar */
.btn_sidebar{
    background-color:#557A95;
    color:#fff;
}

/* in Post */
.btn_inPost{
    background-color:#557A95;
    color:#fff;
}
